<html>
  <head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Image Augmentor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    <div id="app" class="container">
      <div class="header">
        <div class="header-text">ImageAugmentor</div>
      </div>

      <div class="datasets-header content-header">Datasets</div>
      <div class="datasets content-box grid-container">
        <div class="dataset-container dataset-upload">
          <div class="dataset-upload-container">
            <div class="dataset-upload-text">Upload</div>
            <div class="dataset-upload-message">Click here to start uploadìng.</div>
            <div class="dataset-upload-plus-text">+</div>
          </div>
        </div>
        <div v-for="dataset in datasets" v-on:click="selectDataset(dataset.id)" v-bind:key="dataset.id" class="dataset-container" v-bind:class="{'dataset-selected': dataset.id === selected_dataset}">
          <div class="dataset-container-header">
            <div class="dataset-name">{{dataset.name}}</div>
            <button v-on:click="deleteDataset(dataset.id)" class="small">delete</button>
          </div>
          <div class="dataset-type">type: {{dataset.type}}</div>
          <div class="dataset-size">size: {{dataset.size}}</div>
          <div class="dataset-sample-images">
            <img v-bind:src="dataset.sample_images[0]" alt="sample_image">
            <img v-bind:src="dataset.sample_images[1]" alt="sample_image">
            <img v-bind:src="dataset.sample_images[2]" alt="sample_image">
          </div>
        </div>
      </div>

      <div class="augment-header content-header">Augment</div>
      <div v-if="selected_dataset == null" class="augment-advance-message">Upload or Click your dataset.</div>
      <div v-else class="augment content-box">
        <div class="augment-options grid-container">
          <div v-for="(option_key, idx) in selected_augment_options" class="option-container" v-bind:key="option_key">
            <div class="option-container-header">
              <div class="option-name">{{idx + 1}}. {{augment_option_choises[option_key].name}}</div>
              <button v-on:click="deleteAugmentOption(option_key)" class="small">delete</button>
            </div>
            <div class="option-params">
              <div v-for="conf in augment_option_choises[option_key].params" class="option-param-container" v-bind:key="conf.name">
                  <div v-if="!conf.unit" class="option-param-name">{{conf.name}}</div>
                  <div v-else class="option-param-name">{{conf.name}} ({{conf.unit}})</div>                
                <div v-if="conf.type == 'range'" class="range-container">
                  <div class="range-min-container">
                    <label v-bind:for="`${option_key}-${conf.name}-min`" class="range-min-label">min</label>
                    <input type="number" v-bind:name="`${option_key}-${conf.name}-min`" v-bind:label="`${option_key}-${conf.name}-min`" v-bind:max="conf.max" v-bind:min="conf.min" v-bind:step="conf.step" v-model="augment_value[option_key][conf.name]['min']"/>
                  </div>
                  <div class="range-min-container">
                    <label v-bind:for="`${option_key}-${conf.name}-min`" class="range-min-label">max</label>
                    <input type="number" v-bind:name="`${option_key}-${conf.name}-max`" v-bind:label="`${option_key}-${conf.name}-max`" v-bind:max="conf.max" v-bind:min="conf.min" v-bind:step="conf.step" v-model="augment_value[option_key][conf.name]['max']"/>
                  </div>
                </div>
                <div v-if="conf.type == 'number'">
                  <input type="number" v-bind:name="`${option_key}-${conf.name}`" v-bind:max="conf.max" v-bind:min="conf.min" v-bind:step="conf.step" v-model="augment_value[option_key][conf.name]">
                </div>
                <div v-if="conf.type == 'select'">
                  <div v-for="choise in conf.choises" v-bind:key="choise">
                    <input type="radio" v-bind:id="choise" v-bind:name="`${option_key}-${conf.name}`" v-bind:value="choise" v-bind:checked="choise == conf.default" v-model="augment_value[option_key][conf.name]">
                    <label v-bind:for="choise">{{choise}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-on:click="toggleAugmentOptionDialog" class="option-container option-append">
            <div class="option-append-container">
              <div class="option-append-text">Add Option</div>
              <div class="option-append-message">Click here to add option.</div>
              <div class="option-append-plus-text">+</div>
            </div>
          </div>
        </div>
        <div class="augment-execute">
          <button v-on:click="toggleAugmentSampleDialog" class="augment-execute-sample-button green wide">Show Sample</button>
          <button class="augment-execute-button wide">Execute</button>
        </div>

        <dialog id="augment-sample-dialog" class="dialog">
          <div class="dialog-header">Augmentation Sample</div>
          <div class="dialog-body">
            <img src="/static/sample.png" alt="sample image" class="execute-sample-image">
          </div>
          <div class="dialog-footer">
            <button>exec</button>
            <button v-on:click="toggleAugmentSampleDialog">cancel</button>
          </div>
        </dialog>

        <dialog id="augment-choises-dialog" class="dialog">
          <div class="dialog-header">Augmentation Sample</div>
          <div class="dialog-body">
              <div class="augment-choises grid-container">
                <div v-for="option_key in not_selected_augment_options" v-bind:key="option_key" class="augment-choise-container">
                  <div class="augment-name">{{augment_option_choises[option_key].name}}</div>
                  <div class="augment-sample">
                    <img v-bind:src="augment_option_choises[option_key].sample_images.before" alt="sample-before" class="augment-sample-before">
                    <img v-bind:src="augment_option_choises[option_key].sample_images.after" alt="sample-after" class="augment-sample-before">
                  </div>
                  <button v-on:click="addAugmentOption(augment_option_choises[option_key].name);toggleAugmentOptionDialog()" class="wide">Add</button>
                </div>
              </div>
          </div>
          <div class="dialog-footer">
            <button v-on:click="toggleAugmentOptionDialog" class="wide green">cancel</button>
          </div>
        </dialog>

      </div>

      <div class="results-header content-header">Results</div>
      <div class="results content-box grid-container">
        <div v-for="result in results" v-bind:key="result.id" class="result-container">
          <div class="result-name">{{result.name}}</div>
          <div class="result-type">type: {{result.type}}</div>
          <div class="result-status">status: {{result.status}}</div>
          <div class="result-progress">
              <label v-bind:for="result.id">{{result.progress}} %</label>
              <progress v-bind:id="result.id" max="100" v-bind:value="result.progress">{{result.progress}}</progress>
          </div>
          <button class="wide">Download</button>
        </div>
      </div>
    </div>
  </body>
</html>
